---
layout: t2
title: Writing
ogd: Stuff I wrote like my poetry and short stories
propd: Stuff I wrote like my poetry and short stories
---

<h1>my writing</h1>

<hr>

<h2>Short Stories And Concepts <i class="ph ph-notebook"></i></h2>
<p>My short stories, I mostly make them up on the fly. I put my concepts here as well.</p>

<ul>
{%- for post in collections.story | reverse -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>

<h2>Poetry <i class="ph ph-scroll"></i></h2>
All of these are experimental and some of these are pretentious

<ul>
{%- for post in collections.poetry | reverse -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>

<h2>Archives <i class="ph ph-archive"></i></h2>
Old stuff from my original writing blog on Tumblr, might rewrite IOTD.

<ul>
{%- for post in collections.archive | reverse -%}
  <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
{%- endfor -%}
</ul>